/* CSS copyright Linus Lee, Polyx Studio */

html,body,div,p{margin:0;padding:0}h1,h2{font-weight:normal}img{border:0}
body{
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-variant: small-caps;
    font-size: 20px;
    width:250px;
    height:auto;
    background-color:#dfdfdf;
    overflow:hidden;
    padding:10px;
}
#masthead{

    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 31px;
    font-variant: small-caps;
    line-height: 34.1px;
    text-align:center;
    /*font-size:1.3em;*/
    margin-bottom:10px;
    color:#990066;
}
#masthead>img{
    height:22px;
}
#contentBox>div{
    background:white;
    margin-bottom:7px;
    padding:6px;
    box-shadow:0 2px 6px rgba(0,0,0,0.4);
    border-radius:3px;
}
#title{
    font-weight:bold;
}
#label{
    color:#777777;
    font-style:italic;
    display:none;
}
#cite{
    color:#444444;
    line-height:1.5em;
    word-wrap:break-word;
}
#cite:focus{outline:none}
#cta{display:none}
#pref_open{
    position:absolute;
    right:15px;
    top:10px;
    opacity:0.25;
    cursor:pointer;
}
#pref_open:hover{opacity:0.45}

input.transbox
        {
            border: none;
            border-bottom: solid 2px #660033;
            transition: border 0.3s;
            background-color:#990066; 
            color:white;
            margin:auto;
            margin-top: 5px;
            display:block;
            font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
            font-size: +30;
            font-variant: small-caps;
            opacity: 0.6;
            filter: alpha(opacity=60); 
            width:175px;
            height: 25px;
        }

button.start
{
    background-color:#990066;
        color:white;
        font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
        border:none;
        /*height:20px; 
        width:75px;
  margin:auto;
        display:block;*/
        font-size: +20; 
        font-variant: small-caps;
}
.autoCite{
        background-color:#990066;
        color:white;
        font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
        border:none;
        /*height:20px; 
        width:75px;
  margin:auto;
        display:block;*/
        font-size: +20; 
        font-variant: small-caps;
            
}
.insertCite{
        background-color:#990066;
        color:white;
       font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
       border:none;
        /*height:20px; 
        width:75px; 
   margin:auto;
        display:block;*/
        font-size: +20; 
        font-variant: small-caps; 
}

.citation
{
    font-family:"Helvetica Neue","Arial",sans-serif;
    font-variant:normal;
    font-size: 13px;
}
.myButton {
    -moz-box-shadow: 0px 10px 14px -7px #276873;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;
    box-shadow: 0px 10px 14px -7px #276873;
    background-color:#990066;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-variant: small-caps;
    font-size:20px;
    height: 40px;
    width: 200px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
    background-color:#993366;
}
.myButton:active {
    position:relative;
    top:1px;
}

.cont {
    -moz-box-shadow: 0px 10px 14px -7px #276873;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;
    box-shadow: 0px 10px 14px -7px #276873;
    background-color:#990066;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-variant: small-caps;
    font-size:12px;
    height: 30px;
    width: 125px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
}
.cont:hover {
    background-color:#993366;
}
.cont:active {
    position:relative;
    top:1px;
}


